.button {
    drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.14)) drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2));
    border-radius: 2px;
    padding: 2px 20px;
    color: #ffffff;
    background: #009688;
    outline: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: stretch;
    position: relative;
    border: 0;
    vertical-align: middle;
    line-height: 1.715em;
    text-decoration: none;
    text-align: center;
    width: auto;
    height: auto;
    min-height: 2.572em;
    overflow: visible;
}
