@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto/Roboto-BlackItalic.eot');
  src: local('Font/Roboto/Roboto Black Italic'), local('Font/Roboto/Roboto-BlackItalic'), url('Font/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'), url('Font/Roboto/Roboto-BlackItalic.woff2') format('woff2'), url('Font/Roboto/Roboto-BlackItalic.woff') format('woff'), url('Font/Roboto/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto/Roboto-Bold.eot');
  src: local('Font/Roboto/Roboto Bold'), local('Font/Roboto/Roboto-Bold'), url('Font/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('Font/Roboto/Roboto-Bold.woff2') format('woff2'), url('Font/Roboto/Roboto-Bold.woff') format('woff'), url('Font/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto/Roboto-BoldItalic.eot');
  src: local('Font/Roboto/Roboto Bold Italic'), local('Font/Roboto/Roboto-BoldItalic'), url('Font/Roboto/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'), url('Font/Roboto/Roboto-BoldItalic.woff2') format('woff2'), url('Font/Roboto/Roboto-BoldItalic.woff') format('woff'), url('Font/Roboto/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto/Roboto-LightItalic.eot');
  src: local('Font/Roboto/Roboto Light Italic'), local('Font/Roboto/Roboto-LightItalic'), url('Font/Roboto/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'), url('Font/Roboto/Roboto-LightItalic.woff2') format('woff2'), url('Font/Roboto/Roboto-LightItalic.woff') format('woff'), url('Font/Roboto/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto/Roboto-Regular.eot');
  src: local('Font/Roboto/Roboto'), local('Font/Roboto/Roboto-Regular'), url('Font/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('Font/Roboto/Roboto-Regular.woff2') format('woff2'), url('Font/Roboto/Roboto-Regular.woff') format('woff'), url('Font/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto/Roboto-ThinItalic.eot');
  src: local('Font/Roboto/Roboto Thin Italic'), local('Font/Roboto/Roboto-ThinItalic'), url('Font/Roboto/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'), url('Font/Roboto/Roboto-ThinItalic.woff2') format('woff2'), url('Font/Roboto/Roboto-ThinItalic.woff') format('woff'), url('Font/Roboto/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto/Roboto-Black.eot');
  src: local('Font/Roboto/Roboto Black'), local('Font/Roboto/Roboto-Black'), url('Font/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'), url('Font/Roboto/Roboto-Black.woff2') format('woff2'), url('Font/Roboto/Roboto-Black.woff') format('woff'), url('Font/Roboto/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto/Roboto-MediumItalic.eot');
  src: local('Font/Roboto/Roboto Medium Italic'), local('Font/Roboto/Roboto-MediumItalic'), url('Font/Roboto/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'), url('Font/Roboto/Roboto-MediumItalic.woff2') format('woff2'), url('Font/Roboto/Roboto-MediumItalic.woff') format('woff'), url('Font/Roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto/Roboto-Thin.eot');
  src: local('Font/Roboto/Roboto Thin'), local('Font/Roboto/Roboto-Thin'), url('Font/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'), url('Font/Roboto/Roboto-Thin.woff2') format('woff2'), url('Font/Roboto/Roboto-Thin.woff') format('woff'), url('Font/Roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto/Roboto-Light.eot');
  src: local('Font/Roboto/Roboto Light'), local('Font/Roboto/Roboto-Light'), url('Font/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('Font/Roboto/Roboto-Light.woff2') format('woff2'), url('Font/Roboto/Roboto-Light.woff') format('woff'), url('Font/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto/Roboto-Italic.eot');
  src: local('Font/Roboto/Roboto Italic'), local('Font/Roboto/Roboto-Italic'), url('Font/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'), url('Font/Roboto/Roboto-Italic.woff2') format('woff2'), url('Font/Roboto/Roboto-Italic.woff') format('woff'), url('Font/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('Font/Roboto/Roboto-Medium.eot');
  src: local('Font/Roboto/Roboto Medium'), local('Font/Roboto/Roboto-Medium'), url('Font/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('Font/Roboto/Roboto-Medium.woff2') format('woff2'), url('Font/Roboto/Roboto-Medium.woff') format('woff'), url('Font/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333333;
}
