.font-header-1 {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
}
.font-header-2 {
  font-size: 20px;
  font-weight: 500;
}
.font-primary {
  font-size: 18px;
  line-height: 26px;
}
.font-secondary {
  font-size: 16px;
}
.font-button {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
}
