.wrapper {
    max-width: 550px;
    margin: 30px auto;
}

.logo {
    width: 70%;
    margin: 0 auto;
}

.logo img {
    width: 100%;
}

.text {
    text-align: justify;
}

.form {
    text-align: center;
}
