<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
{% apply inline_css(source('@css/FontRoboto.css')) %}
{% apply inline_css(source('@css/Text.css')) %}
{% apply inline_css(source('@css/Email/PasswordRecovery.css')) %}
    <body>
        <div class="wrapper">
            <div class="logo">
                <img src="{{ email.image('@image/logo.svg') }}" alt="Логотип">
            </div>
            <br>
            <div class="header font-header-1">
                Здравствуйте!
            </div>
            <div class="text font-primary">
                <p>
                    По вашему аккаунту {{ userEmail }} было запрошено восстановление пароля.
                    Если это были не вы, не обращайте внимание на письмо.
                </p>
                <p>
                    Для восстановления пароля Вам необходимо перейти по ссылке и задать новый пароль.
                    Ссылка действует 1 час.
                </p>
            </div>
            <div class="form">
                {% apply inline_css(source('@css/Button.css')) %}
                    <form action="{{ frontendUrl }}" method="GET" target="_blank">
                        <input type="hidden" name="email" value="{{ userEmail }}">
                        <input type="hidden" name="token" value="{{ token }}">
                        <input type="submit" value="Установить новый пароль" class="button font-button">
                    </form>
                {% endapply %}
            </div>
        </div>
    </body>
{% endapply %}
{% endapply %}
{% endapply %}
</html>
